<p>
  users works!
</p>

<user-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()" ></user-form>

<h2>

List of Users:

</h2>

<ul class = "list-group">
  <li class = "list-group-item" *ngFor ="let key of usersKeys">
    <button class="btn btn-danger" (click) ="deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] ="['/update-form', key]">Update</button>
    <a [routerLink] ="['/user', key]">{{'user '+key+' '+users[key].name +" "+ users[key].phonenumber}}</a>
  </li>
</ul>