<!--

<div class="container">
  <h1>Add Users</h1>

<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name">Name</label>
    <input type="text" name = "name" id = "name" formControlName = "name" >
  </div>
  <div>
    <label for="phonenumber">Phone</label>
    <input type="text" name = "phonenumber" id = "phonenumber" formControlName = "phonenumber">
  </div>
  <input type="submit" class="btn btn-success" value = "Send User">
</form>

</div>

-->

<div class="container">

<h2>Add User: </h2>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" required>
    <div *ngIf="!usrform.controls.name.valid" class="alert alert-danger">
      Please add username
    </div> 
  </div>
  <div>
    <label for="phone"></label>
    <input type="text" name="phonenumber" id="phonenumber" class="form-control" formControlName = "phonenumber" required>
    <div *ngIf="!usrform.controls.phonenumber.valid" class="alert alert-danger">
      Please add phonenumber
    </div> 
  </div>
  <br>
  <input type="submit" value="Add user" class="btn btn-primary" [disabled]="!usrform.valid" >
</form>

</div>








<!--

<div class="container">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>

    -->

    
