/*@import "~bootstrap/dist/css/bootstrap.css"; */


form {width:30%}
input {margin:7px}
.errors{
	color: red;	
}

/*

.errors{
    color: red;	
}

input{
	max-width: 300px;
	margin: 0 auto;
}

.center{
	text-align: center;
	border: 1px black solid;	
}

*/